.env
.DS_Store
Thumbs.db
*.log
CLAUDE.md
.claude/
.claudeignore
MEMORIA_PROYECTO.MD
.vscode/
.idea/
*.swp
*.sublime-project
**/node_modules/
**/dist/
**/tmp/
**/.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/target/
**/.mvn/
*.class
*.jar
*.war
*.ear
*.sql
*.db
**/mysql-data/
docs/
.continue
.gitattributes
*environments/
*specs/
node_modules
resources/
.superpowers/